myenv/
# Ignore PricePrediction model random_forest_model.pkl
PricePrediction/model/random_forest_model.pkl

# Ignore Recommendation model query-analysis.pkl and query-analysis.h5
Recommendation/model/query-analysis.pkl
Recommendation/model/query-analysis.h5