<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <center><h1>Welcome to Gemstone Price Predictor</h1></center>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <h2>Hello, Flask!</h2>
        <p>This is a simple web page to display content.</p>
    </main>
    <footer>
        <p>&copy; 2023 SLIIT</p>
    </footer>
</body>
</html>
