<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <img src="../static/logowithname.png" alt="Top Left Image" id="top-left-image">
      <h1>Your one-stop solution for all your gem-related needs.</h1>
    </header>
    
    <section>
        <h2>Features:</h2>
        <ul>
            <li>Personalized Gemstone Recommendations</li>
            <li>Gemstone Cut Prediction</li>
            <li>Gemstone Color and Clarity Identification</li>
            <li>Gemstone Price Prediction</li>
        </ul>
    </section>
  
  </body>
</html>
